@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@layer components {
    .navLinks {
        @apply pt-[10px] pb-[10px] pr-[20px] pl-[20px] border border-solid border-[#0000008c] rounded-[50px] font-[500] text-[#000000bb] text-[18px] relative after:content-[""] after:absolute after:bg-black after:h-full after:w-full after:left-0 after:bottom-[-100%] hover:after:bottom-0 hover:after:rounded-[0] after:transition-all after:ease-in-out after:delay-[0.1s] transition-all ease-in-out delay-[0.1s] after:rounded-[50%] overflow-hidden;

        &:hover a {
            @apply text-[#fff];
        }
    }

    .navTags {
        @apply no-underline z-[9] relative text-[#000000bb];
    }

    .ball {
        @apply bg-[#FE330A] rounded-tl-[50%] rounded-bl-[50%] h-full w-full blur-[20px] absolute
    }

    .movingHead {
        @apply text-[7vw] inline-block font-semibold
    }

    .con {
        @apply whitespace-nowrap inline-block
    }

    .circle {
        @apply h-[60px] w-[60px] rounded-[50%] bg-[#FE330A] inline-block mt-[1vw] mb-[1vw] mr-[2vw] ml-[2vw]
    }
}

#movingText::-webkit-scrollbar {
    display: none;
}

#hero3 {
    animation: anime1 5s linear infinite alternate;
    background: linear-gradient(#FE330A, #fe3f0a);
    filter: blur(25px);
}

#hero2 {
    animation: anime2 5s linear infinite alternate;
    background: linear-gradient(#FE330A, #fe3f0a);
    filter: blur(25px);
}

#gooey {
    background: linear-gradient(to top right, #FE330A, #ff671b);
    animation: gooey 4s ease-in-out infinite alternate;
}



#gooeyL {
    background: linear-gradient(to top right, #FE330A, #ff671b);
    animation: gooeyL 4s ease-in-out infinite alternate;
}


#gooeyR {
    background: linear-gradient(to top right, #FE330A, #ff671b);
    animation: gooeyR 2s ease-in-out infinite alternate;
}

.con {
    animation: move 10s linear infinite;
}

.ele:hover .overlay {
    top: 0%;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    border-left: 1px solid #aeadad !important;
    width: 30% !important;
    padding: 0 2vw;
}



@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes gooey {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(-10%, 10%) skew(-10deg);
    }
}

@keyframes gooeyL {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(-2%, 4%) skew(-8deg);
    }
}

@keyframes gooeyR {
    from {
        transform: translate(10%, 10%);
    }

    to {
        transform: translate(4%, 4%) skew(-12deg);
    }
}